body {
    margin: auto;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(240, 250, 233);
}

/* exemplo 01 */
.pai-flex {
    display: flex;
    background-color: rgb(189, 186, 186);
    width: 391px;
    height: 132px;
}

.filho-flex {
    width: 100px;
    height: 100px;
    background-color: #eeff00;
    margin: 15px;
}

/* exemplo 02 / exemplo 06 */

.caixa-cinza {
    background-color: #ccc;
    height: 200px;
    display: flex;
    flex-direction: row; /* row, row-reverse, column, column-reverse */
    /* flex-wrap: wrap; */
    align-items: flex-start; /* flex-start, flex-end, center, stretch, baseline */
}

.caixa-direction {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    position: relative;
}

.numero {
    font-size: 150%;
    color: rgb(250, 192, 0);
    font-weight: bold;
}

.circulo {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(189, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* exemplo 03 */

.caixa-branca {
    background-color: #ffffff;
    border: solid 1px #eeff00;
    padding: 20px;
    display: flex;
    /* flex-wrap: wrap; nowrap, wrap, wrap-reverse */
    flex-flow: row wrap; /* aceita os valores de flex-direction e flex-wrap respectivamente nessa ordem.*/
}

.caixa-wrap {
    width: 100px;
    height: 100px;
    background-color: #ff7b00;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}

/* exemplo 04 */

.caixa-azul {
    background-color: #287bf7;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-start, flex-end, center, space-between, space-around, space-evenly */

}

.caixa-justify {
    width: 100px;
    height: 100px;
    background-color: #fab778;
    margin: 5px;
    border-radius: 10px;
}

/* exemplo 05 */

.caixa-azul2 {
    background-color: #287bf7;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    width: 111px;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    /* flex-start, flex-end, center, space-between, space-around, space-evenly */

}

.caixa-justify2 {
    width: 100px;
    height: 100px;
    background-color: #fab778;
    margin: 5px;
    border-radius: 10px;
}

/* exemplo 07 */

.caixa-roxa {
    background-color: purple;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch; /* stretch, flex-start, flex-end, center, space-between, space-around */
}
.caixa-roxa > div { /* seletor CSS que seleciona todos os elementos div que são filhos diretos */
    flex: 1; /* Todos os filhos da caixa-roxa vão ocupar a mesma proporção do espaço disponível */
    min-width: 100px; /* Largura mínima de cada div interna */
    min-height: 50px; /* Altura mínima de cada div interna */
    margin: 5px;
    background-color: rgb(255, 146, 3);
    border: 1px solid black;
    color: #fff;
}
 .caixa-roxa > div:nth-child(odd) {
    order: -1; /* Reordenar ímpares para aparecerem primeiro | usar flex-direction: column no elemento pai; */
} 

/* 
:nth-child(odd)
Representa elementos cuja posição numérica em uma série de irmãos seja ímpar: 1, 3, 5, etc.

:nth-child(even)
Representa elementos cuja posição numérica em uma série de irmãos seja par: 2, 4, 6, etc.

:nth-child(3n+4)
Representa os elementos de número 4 [=(3×0)+4], 7 [=(3×1)+4], 10 [=(3×2)+4], 13 [=(3×3)+4], etc.
*/